.footer-data {
  width: 55%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: auto;
  color: white;
}
.footer-icons {
  display: flex;
  margin-left: 310px;
  margin-bottom: 10px;
}
.icon-spacing {
  margin-right: 10px;
  color: white;
}
.service-code {
  box-sizing: border-box;
  color: white;
  margin-left: 305px;
  margin-top: 10px;
  border: 2px solid white;
  width: 150px;
  padding: 2px 10px;
}
.copy-right {
  box-sizing: border-box;
  color: white;
  margin-left: 305px;
  margin-top: 10px;
}
